body {
    background-color: white;
    color: black; /* #53626e; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#side {
    width: 10%;
    /* position: fixed; */
    padding: 0% 0% 0% 15%;
}

header {
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}

#portrait {
    padding: 10% 5% 5% 0%;
    text-align: center;
}

#img-portrait{
    border-radius: 50%;
    -webkit-filter: grayscale(100%) brightness(120%) opacity(80%) sepia(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(120%) opacity(80%) sepia(10%);
}

#navbar {
    display: block;
    text-transform: uppercase;
    overflow: hidden;
    width: 150px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#navbar a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;  
    color: #b9b8b9;
    background: #f3f3f3;
    text-align: center;
    margin-bottom: 2px;
}

#navbar a.active{
    color: #e29183;
}

#navbar a:hover{
    background-color: #fde9df;
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#gallery{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.design-thumb {
    margin: 20px;
}

.design-msg {
    transition: .5s ease;
    opacity: 0;
    padding-top: 5px;
}

.design-thumb:hover .design-msg {
    opacity: 1;
}

img:hover {
    opacity:0.4;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (min-width: 1000px) {
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    /* main {
        -webkit-box-shadow: 10px 10px 39px -4px #949194;
        -moz-box-shadow: 10px 10px 39px -4px #949194;
        box-shadow: 10px 10px 39px -4px #949194;
    } */
}
